/* Reset and Standardize */

*,
*:before,
*:after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

header,
hgroup,
footer,
section,
article,
aside,
nav,
figure,
figcaption,
details,
summary {
	display: block;
}

:focus {
	outline: 0;
}

/* Links */

a {
	text-decoration: underline;

	&:hover {
		text-decoration: none;
	}

	@include print() {
		text-decoration: none;
	}

}

/* Text */

h1,
h2,
h3,
h4,
h5,
h6 {
	font: inherit;
	margin: 0 0 0.75rem;
}

p {
	margin: 0 0 1.5rem;

	&:last-child {
		margin-bottom: 0;
	}

}

sup,
sub {
	font-size: 65%;
}

sup {
	vertical-align: top;
}

sub {
	vertical-align: bottom;
}

/* Lists */

ol,
ul {
	list-style: none outside none;
	margin: 0 0 1.5rem;
	padding: 0;

	&:last-child {
		margin-bottom: 0;
	}

}

li {
	margin: 0;
	padding: 0;
}

/* Media */

img {
	border: 0 none;
	height: auto;
	vertical-align: top;
}

/* Common Classes */

.none {
	display: none;
}

.center {
	text-align: center;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
}
