@use 'vars' as *;

.portfolio-title {
  margin-top: 1rem;

  @include desktop {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  &:before {
    content: '// ';
  }
}

.portfolio {
  border: 1px solid #000;
  box-shadow: 3px 3px;
  display: grid;
  flex-direction: column;
  grid-template-areas: 
      "logo"
      "body"
      "screen";
  margin-bottom: 2rem;
  padding: 1.5rem;
  row-gap: 1.5rem;

  @include desktop {
    column-gap: 1.5rem;
    grid-template-areas: 
      "logo body"
      "screen body";
    grid-template-columns: 35% 1fr;
    grid-template-rows: auto 1fr;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  ul {
    margin-bottom: 1rem;

    ul {
      margin-bottom: 0;
    }
  }
}

.portfolio__logo {
  grid-area: logo;
  text-align: center;

  img {
    height: auto;
    vertical-align: top;
    max-width: 280px;
    width: 100%;
  }
}

.portfolio__screen {
  grid-area: screen;

  img {
    filter: grayscale(100%);
    height: auto;
    vertical-align: top;
    width: 100%;
  }
}

.portfolio__body {
  grid-area: body;
}

.portfolio__details {
  @include desktop {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.portfolio__detail {
  @include desktop {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
  }
}
