/* Variables */

@mixin print() {
  @media print {
    @content;
  }
}

// Extra small screen / phone
$screen-xs:         480px !default;
$screen-xs-min:     $screen-xs !default;
$screen-phone:      $screen-xs-min !default;

// Small screen / tablet
$screen-sm:         768px !default;
$screen-sm-min:     $screen-sm !default;
$screen-tablet:     $screen-sm-min !default;

// Medium screen / desktop
$screen-md:         992px !default;
$screen-md-min:     $screen-md !default;
$screen-desktop:    $screen-md-min !default;

// Large screen / wide desktop
$screen-lg:         1200px !default;
$screen-lg-min:     $screen-lg !default;
$screen-lg-desktop: $screen-lg-min !default;

// So media queries don't overlap when required, provide a maximum
$screen-xxs-max:    ($screen-xs-min - 1) !default;
$screen-xs-max:     ($screen-sm-min - 1) !default;
$screen-sm-max:     ($screen-md-min - 1) !default;
$screen-md-max:     ($screen-lg-min - 1) !default;

@mixin breakpoint($class) {
  @if $class == xxs {
    @media (max-width: $screen-xxs-max) {
      @content;
    }
  } @else if $class == xs {
    @media (max-width: $screen-xs-max) {
      @content;
    }
  } @else if $class == sm {
    @media (min-width: $screen-sm-min) {
      @content;
    }
  } @else if $class == md {
    @media (min-width: $screen-md-min) {
      @content;
    }
  } @else if $class == lg {
    @media (min-width: $screen-lg-min) {
      @content;
    }
  } @else {
    @warn 'Breakpoint mixin supports: xxs, xs, sm, md, and lg';
  }
}

// Size
$lw: 25%;
$lwPrint: 20%;
$topSpacing: 3rem;
$sideSpacing: 3rem;
$topSpacingMobile: 2rem;
$sideSpacingMobile: 2rem;
$topSpacingPrint: 1rem;
$sideSpacingPrint: 1rem;

// Colors
$bodycolor: #333;
$linkcolor: #333;

// Font sizes
@mixin fontStandard() {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.4rem;
  line-height: (10/7); // 2rem

  @include print() {
    font-size: 8.5pt;
		line-height: 1.25;
  }

}

@mixin fontH1() {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 1.2; // 3rem

  @include print() {
    font-family: Arial, Helvetica, sans-serif;
    font-size: (4/3) * 100%;
    line-height: 1.25;
  }

}

@mixin fontH2() {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: normal;
  line-height: 1; // 2rem

  @include print() {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25 * 100%;
    line-height: 1.25;
  }

}

@mixin fontH3() {
  font-size: 1.75rem;
  font-weight: normal;
  line-height: (8/7); // 2rem

  @include print() {
    font-size: (7/6) * 100%;
    line-height: 1.25;
  }

}

@mixin fontH4() {
  font-size: 1.5rem;
  font-weight: normal;
  line-height: (4/3); // 2rem

  @include print() {
    font-size: 1.125 * 100%;
    line-height: 1.25;
  }

}

@mixin fontH5() {
  font-weight: normal;
}

@mixin fontH6() {
  font-weight: normal;
}
