@import "vars";
@import "base";

/* Presentation Style */

html {
	background: #fff;
	color: $bodycolor;
	font-size: 10px;

	@include print() {
		color: #000;
	}

}

body {
	@include fontStandard();
}

h1 {
	@include fontH1();
}

h2 {
	@include fontH2();

	&.section-title {
		margin-bottom: 0;
		text-transform: uppercase;
	}

}

h3 {
	@include fontH3();

	span {
		font-size: 75%;
		font-style: italic;
	}

}

h4 {
	@include fontH4();
}

h5 {
	@include fontH5();
}

h6 {
	@include fontH6();
}

a {
	color: $linkcolor;

	@include print() {
		color: inherit;
	}

}

.section {
	display: flex;
	flex-direction: column;
	width: 100%;

	@include breakpoint('md') {
		flex-direction: row;
	}

	@include print() {
		flex-direction: row;
	}

	&:nth-child(2n) {
		background: rgba(0,0,0,0.025);

		@include print() {
			background: transparent;
		}

	}

}

.section-title {
	padding: $topSpacingMobile $sideSpacingMobile 0;

	@include breakpoint('md') {
		background: rgba(0,0,0,0.025);
		flex: 0 0 $lw;
		padding: $topSpacing $sideSpacing;
		text-align: right;
	}

	@include print() {
		flex: 0 0 $lwPrint;
		padding: $topSpacingPrint $sideSpacingPrint $topSpacingPrint 0;
		text-align: right;
	}

	.section:first-child() & {

		@include print() {
			padding-top: 0;
		}

	}

}

.section-content {
	padding: $topSpacingMobile $sideSpacingMobile;

	@include breakpoint('md') {
		flex: 0 0 (100% - $lw);
		padding: $topSpacing $sideSpacing;
	}

	@include print() {
		flex: 0 0 (100% - $lwPrint);
		padding: $topSpacingPrint 0 $topSpacingPrint $sideSpacingPrint;
	}

	.section:first-child() & {

		@include print() {
			padding-top: 0;
		}

	}

}

.headshot {
	border-radius: 50%;
	max-width: 200px;
	width: 50%;

	@include print() {
		display: none;
	}

}

.list-inline {

	li {
		display: inline;

		&:after {
			content: ', ';
		}

		&:last-child {

			&:before {
				content: ' and ';
			}

			&:after {
				content: '';
			}

		}

	}

}

.list-disc {
	list-style-type: disc;
	margin-left: 3rem;

	li {
		margin: 0 0 1rem;

		@include print() {
			margin-bottom: 0.5rem;
		}

	}

	ul {
		list-style-type: disc;
		margin-left: 3rem;
		margin-top: 1rem;

		@include print() {
			margin-top: 0.5rem;
		}

	}

}

.certifications {

	li {
		@include fontH3();
		margin-bottom: 1rem;
	}

}
