@import "vars";
@import "base";

/* Presentation Style */

html {
	background: #fff;
	color: $bodycolor;
	font-size: 10px;
}

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.4rem;
	line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	margin: 0 0 0.75rem;
}

h1,
h2,
h3 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

h4,
h5,
h6 {
	font-size: 1.4rem;
}

h1 {
	font-size: 2.5rem;
}

h2 {
	font-size: 2rem;
	
	&.section-title {
		margin-bottom: 0;
		text-transform: uppercase;
	}

}

h3 {
	font-size: 2rem;
	margin-bottom: 0.5rem;

	span {
		font-size: 75%;
		font-style: italic;
	}

}

h4 {
	margin-bottom: 0.5rem;
}

p,
ul,
ol {
	margin: 0 0 1rem;
	
	&:last-child {
		margin-bottom: 0;
	}

}

a {
	color: $linkcolor;
}

.section {
	display: flex;
	flex-direction: column;
	width: 100%;
	
	@include breakpoint('md') {
		flex-direction: row;
	}
	
	&:nth-child(2n) {
		background: rgba(0,0,0,0.025);
	}

}

.section-title {
	padding: $topSpacingMobile $sideSpacingMobile 0;
	
	@include breakpoint('md') {
		background: rgba(0,0,0,0.025);
		padding: $topSpacing $sideSpacing;
		text-align: right;
		width: $lw;
	}

}

.section-content {
	padding: $topSpacingMobile $sideSpacingMobile;
	
	@include breakpoint('md') {
		padding: $topSpacing $sideSpacing;
		width: 100% - $lw;
	}

}

.headshot {
	border-radius: 50%;
	max-width: 50%;
	width: 200px;
}

.list-inline {
	
	li {
		display: inline;
	
		&:after {
			content: ', ';
		}
	
		&:last-child {
	
			&:before {
				content: ' and ';
			}
	
			&:after {
				content: '';
			}
	
		}
	
	}

}

.list-disc {
	list-style-type: disc;
	margin-left: 3rem;

	li {
		margin: 0 0 0.5rem;
	}
	
	ul {
		list-style-type: disc;
		margin-left: 3rem;
		margin-top: 0.5rem;
	}

}

.certifications p {
	font-size: 1.5rem;
}
